.sorting_asc, .sorting_desc{
    background-image: url("../img/sort-arrows.png");
    background-repeat: no-repeat;
    background-position: right;
}
a.action-list {
    text-decoration: none;
    width: 30%;
    text-align: center;
}
.dataTables_filter > label > input {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


$alphablack:rgba(0,0,0,0.9);



[data-tooltip] {
  &:hover {
    &:before, &:after {
      display:block;
      position:absolute;
      font-size:0.8em;
      color:white;
    }
    &:before {
      border-radius:0.2em;
      content:attr(title);
      background-color:$alphablack;
      margin-top:-2.5em;
      padding:0.3em;
    }
    &:after {
      content:'';
      margin-top:-2.1em;
      margin-left:1em;
      border-style:solid;
      border-color:transparent;
    }
  }
}
.btn-action {
    text-align: center;
    background: none;
    border: none;
    width: 30%;
    padding: initial;
}

.glyphicon {
    padding: 0px;
    margin: 0px;
    border: none;
}
button, input, optgroup, select, textarea{
  padding: 5px;
}
div#goodsData_filter {
    float: right;
}
td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
    
}
.dataTables_wrapper .dataTables_paginate{
  float: unset;
  
}
.btn-actions {
  padding: 15px;
}
.breadcrumb a {
  text-decoration: none !important;
}
.breadcrumb > li:last-child a {
    color: #555555!important;
   
}